@media (prefers-color-scheme: dark) {
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100%;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Secular One", sans-serif;
  font-size: 15px;
  background-image: linear-gradient(141deg, #155799, #159957);
}

#botao {
  margin-left: 15px;
  width: 10%;
}

#inp {
  width: 15%;
  margin-left: 2px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.84);
}

.ide {
  width: 20%;
}

.acao {
  width: 20%;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-input {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.form-input input {
  width: 60%;
  height: 40px;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 10px;
  padding: 0 10px;
}

.list-livros {
  display: flex;
  justify-content: center;
}

.list-livros table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

table, tr, th, td {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  color: white;
  text-align: center;
}

th {
  font-size: 1.2em;
}

td {
  font-size: 1.1em;
}

p {
  color: #ffffffb9;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bungee Inline", cursive;
}

h2 {
  font-family: "Bungee Inline", cursive;
  color: #ffffffda;
  font-size: 2.3em;
}

.form-input button {
  border: 1px solid #2a8387;
  cursor: pointer;
  display: block;
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
}

.form-input #button-save {
  font-size: 17px;
  margin-left: 2px;
  width: 15%;
  height: 40px;
  border-radius: 15px;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  touch-action: manipulation;
}

#button-save:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

#button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

#button-25:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

#button-25:disabled:active {
  pointer-events: none;
}

#button-25:disabled:hover {
  box-shadow: none;
}
