@media (prefers-color-scheme: dark) {}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100%;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Secular One', sans-serif;
  font-size: 15px;
  background-image: linear-gradient(141deg, #155799, #159957);
}

#botao {
  margin-left: 15px;
  width: 10%;
}

#inp {
  width: 15%;
  margin-left: 2px;
  margin-bottom: 20px ;
}

.ide {
  width: 20%;
}

.acao {
  width: 20%;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-input {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.form-input input {
  width: 60%;
  height: 40px;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 10px;
  padding: 0 10px;
}

.list-livros {
  display: flex;
  justify-content: center;
}

.list-livros table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

table, tr, th, td {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  color: white;
}

p{
  color:#ffffffb9;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bungee Inline', cursive;
}

h2 {
  font-family: 'Bungee Inline', cursive;
  color: #ffffffb9;
  font-size: 2.2em;
}

.form-input button {
  margin-left: 2px;
  width: 15%;
  height: 40px;
  border: 1px solid #2A8387;
  border-radius: 15px;
  font-weight: 800;
  cursor: pointer;
  display: block;
  font-size: 17px;
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
}

.form-input #button-29 {
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  touch-action: manipulation;
}

#button-29:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

#button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

#button-25:disabled {
  cursor: not-allowed;
  opacity: .6;
}

#button-25:disabled:active {
  pointer-events: none;
}

#button-25:disabled:hover {
  box-shadow: none;
}